p {
  margin:0;
}

h4 {
  margin:0;
}

#currentRound {
  width: 50vw;
  height:20vh;
  min-height:200px;
  min-width:400px;
  border: 1px solid black;
  margin:20px auto;
}

#flex {
  padding:25px;
  display:flex;
  justify-content:space-between;
}

#higherLowerBox {
  height:100px;
  width: 300px;
  border: 1px solid black;
  margin:10px auto;
  color:#888;
}

.arrow {
  margin:20px 40px;
  font-size:3.5rem;
}

.singleCard {
  height: 105px;
  width:80px;
  margin:10px;
  border: 1px solid black;
  background-color:#e3e3e3;
}

.black {
  color:black;
}

.red {
  color: red;
}

#vs {
  padding-top: 30px;
}
